<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    환상의 현석 나라에 오신걸 환영합니다.
    <form action="http://192.168.31.47:5021/cal" method="get">
        <input type="text" name="num1">
        <input type="text" name="num2">

        <input type="submit" value="계산">
    </form>

    <form action="http://192.168.31.47:5021/cal" method="post">
        <input type="text" name="num1">
        <input type="text" name="num2">

        <input type="submit" value="post계산">
    </form>


</body>
</html>

