<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIAMOND|</title>
    <link href="css/common.css" rel="stylesheet">
    <link href="css/.css" rel="stylesheet">
</head>
<body>
    <div class="wrap">
        <header class="header">
            <nav class="menu">
                <ul>
                    <li><a href="signup.html">회원가입</a></li>
                    <li class="login"><a href="login.html">로그인</a></li>
                    <li><a href="cart.html"><img src="./img/shopping-cart.png" title="장바구니" class="icon"></a></li>
                </ul>
            </nav>
            <h1 class="logo"><a href="main.html">다이아몬드</a></h1>
        <div>
            <nav class="navi">
            <ul>
                <li><a href="main.html" class="home">홈</a></li>
                <li><a href="sub11.html">DIAMOND</a>
                    <ul class="nav2">
                        <li><a href="sub11.html">팀소개</a></li>
                        <li><a href="sub12.html">제품소개</a></li>
                        <li><a href="sub13.html">CONTACT</a></li>
                    </ul>
                </li>
                <li><a href="sub21.html">생물방</a>
                    <ul class="nav2">
                        <li><a href="sub21.html">수다방</a></li>
                        <li><a href="sub22.html">내.동.자</a></li>
                        <li><a href="sub23.html">질문&답변</a></li>
                        <li><a href="sub24.html">자료실</a></li>
                    </ul>
                </li>
                
                <li><a href="sub31.html">고객센터</a>
                    <ul class="nav2">
                        <li><a href="sub31.html">공지사항</a></li>
                        <li><a href="sub32.html">사용후기</a></li>
                        <li><a href="sub33.html">질문답변</a></li>
                        <li><a href="sub34.html">자료실</a></li>
                        <li><a href="sub35.html">FAQ</a></li>
                        <li><a href="sub36.html" >이벤트/패키지</a></li>
                    </ul>
                </li>
                <li><a href="sub41.html">마이페이지</a>
                    <ul class="nav2">
                        <li><a href="sub41.html">사육장목록</a></li>
                        <li><a href="sub42.html">펫일지</a></li>
                        <li><a href="sub43.html">내프로필</a></li>
                    </ul>
                </li>
            </ul>
            </nav>
        </div>
        </header>
        <div class="left_nav">
            <ul>
                <li><a href=".html"></a>
                    <ul>
                        <li><a href=".html"></a></li>
                    </ul> 
                </li>
                <li><a href=".html"></a></li>
                <li><a href=".html"></a></li>
            </ul>
        </div>
        <div class="content">
            <h1 class="contnet_title"></h1>
        <div>
            
        </div>
        <div class="paging">

        </div>
        </div>
        <footer>
            <ul>
                <li><a href="sub11.html">DIAMOND</a></li>
                <li><a href="">제휴제안</a></li>
                <li><a href="">이용약관</a></li>
                <li><a href="">개인정보처리방침</a></li>
                <li><a href="sub31.html">고객센터</a></li>
            </ul>
            <p>copyright &copy DIAMOND all rights reserved</p>
        </footer>
    </div>
</body>
</html>