<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIAMOND | {% block title %}{% endblock %}</title>    
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css/?num=123" >
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.css/?num=123" >
    <link rel="stylesheet" type="text/css" href="../static/footer.css/?num=123" >
    <link rel="stylesheet" type="text/css" href="../static/common.css/?num=123" >
    <script src="../static/common.js/?num=123"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/bootstrap.bundle.min.js/?num=123"></script>
    <script src="../static/prism.js"></script>
    <script src="../static/sweetalert.min.js/?num=123"></script>
    <script src="../static/custom.js/?num=123"></script>


   
    {% block src %}{% endblock %}
    {% endblock %}
</head>

<body onload="window.self.focus();">
    <div class="wrap">
    {% block wrap %}{% endblock %}
    {% block footer %}{% endblock %}
    </div>
    <script>
    $(document).ready(() => {
      alertInfo();
      navSet();
      top_btn();
    })
    let loc1 = location.href.split('/').slice(3,5);
    if(loc1 == ["login"].toString()){
       checkLoginForm();
    }

//           //네이버 로그인
//     //버튼 생성
//     var naver_id_login = new naver_id_login("58VENhxe4RuqFKX9sZ5e", "http://192.168.30.69:5020/login/result");
//     var state = naver_id_login.getUniqState();
//     naver_id_login.setButton("green", 3,60);  //버튼 색, 버튼 타입, 버튼 높이
//     naver_id_login.setDomain("http://192.168.30.69:5020/login/result");
//     naver_id_login.setState(state);
//     naver_id_login.setPopup(); // 팝업을 통한 연동 처리 여부
//     naver_id_login.init_naver_id_login();
    
//     //콜백 처리
// 	// 네이버 사용자 프로필 조회 이후 프로필 정보를 처리할 callback function
// 	// function naverSignInCallback() {
// 	// 	// naver_id_login.getProfileData('프로필항목명');
//     //     alert(naver_id_login.getProfileData('name'));
// 	// 	alert(naver_id_login.getProfileData('email'));
// 	// 	alert(naver_id_login.getProfileData('mobile'));
// 	// }

// // 카카오 로그인
//     window.Kakao.init("926f082d2c2f0d7497d2efa1d0a0f752");

//     function kakaoLogin() {
//         window.Kakao.Auth.login({
//             scope:'account_email, talk_message',
//             success: function(authoObj) {
//                 console.log(authObj); // 로그인 완료
//                 window.Kako.API.request({  //로그인 정보 가져오기
//                     url: '/v2/user/me',
//                     success: res => {
//                         const kakao_account = res.kakao_account;
//                         console.log(kakao_account);
//                     }
//                 });
//             }});
//         }
    </script>
</body>
</html>