{% extends "frm_body.html" %}
{% block title %}홈{% endblock %}
{% block head %}
{% block src %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script> 
{% endblock %}
{{ super() }}
{% block src %}
{% endblock %}
{% block wrap %}
{% include 'frm_header.html' ignore missing%}
<div class="content">
    <div class="slider">
        <div><img src="/static/img/lizard1.jpg" title="스마일 게코"></div>
        <div><img src="/static/img/lizard2.jpg" title="쪼꼬미 도마뱀"></div>
        <div><img src="/static/img/lizard3.jpg" title="앵그리 게코"></div>
        <div><img src="/static/img/lizard5.jpg" title="아기 도마뱀"></div>
        <div><img src="/static/img/lizard6.png" title="아르마딜로 갑옷 도마뱀"></div>
        <div><img src="/static/img/lizard4.jpg" title="할짝 게코"></div>
        <!-- <div><a href=""></a><img src="" title="이벤트"></a></div> -->
    </div>
    <div>
        <h3>Best 상품 Top3</h3>
        <ul>
            <li><a href="javascript:bylatest();">최신순</a></li>
            <li><a href="javascript:bypopular();">인기순</a></li>
            <li><a href="/diamond/shop">더보기</a></li>
        </ul>
        <div>
            <img src="" class="div_img" title="">
            <div>
                <span class="div_name">인기상품 1</span>
                <span class="price_origin">25,000원</span>
                <span class="price_discount">20,000원</span>
                <span class="div_option">할인중</span>
            </div>
        </div>
    </div>
    <div>
        <h3>커뮤니티</h3>
        <ul>
        <li>1/3</li>
        <li><a href="javascript:before();">《</a></li>
        <li><a href="javascript:after();">》</a></li>
        </ul>
        <ul>
        <li><a href=""><span>구분1</span><span>제목1</span></a></li>
        <li><a href=""><span>구분2</span><span>제목2</span></a></li>
        <li><a href=""><span>구분3</span><span>제목3</span></a></li>
        <li><a href=""><span>구분4</span><span>제목4</span></a></li>
        </ul>   
    </div>
    <div>
        <h3>내.동.자</h3>
        <ul>
        <li>1/3</li>
        <li><a href="javascript:before();">《</a></li>
        <li><a href="javascript:after();">》</a></li>
        </ul>
        <ul>
        <li><a href=""><span>구분1</span><span>제목1</span></a></li>
        <li><a href=""><span>구분2</span><span>제목2</span></a></li>
        <li><a href=""><span>구분3</span><span>제목3</span></a></li>
        <li><a href=""><span>구분4</span><span>제목4</span></a></li>
        </ul>   
    </div>
</div>
{% endblock %}
<script>
    $(document).ready( () => {
        alertInfo();
        navSet();
        $('.slider').bxSlider();
    });
    </script>