<html lang="ko">
<head>
<script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
<form action="/login/result" method="post">
<input type="hidden" readonly name="token" id="token">
<input type="hidden" readonly name="mname" id="mname">
<input type="hidden" readonly name="mid" id="mid">
<input type="hidden" readonly name="mlogin" id="mlogin">
<input type="hidden" readonly name="mtel" id="mtel">
<input type="hidden" readonly name="mmail" id="mmail">
<input type="submit" hidden>
</form>
<!-- 네이버아디디로로그인 초기화 Script -->
<script type="text/javascript"> 
    var naver_id_login = new naver_id_login("58VENhxe4RuqFKX9sZ5e", "http://192.168.30.69:5020/login/result");
  // 접근 토큰 값 출력
  let token = naver_id_login.oauthParams.access_token;
  naver_id_login.get_naver_userprofile("naverSignInCallback()");
  function naverSignInCallback() {
  	let email = naver_id_login.getProfileData('email');
	let name = naver_id_login.getProfileData('name');
	let tel = naver_id_login.getProfileData('mobile');
	$('#mid').val(email.split('@')[0]);
	$('#mname').val(name);
	$('#mtel').val(tel);
	$('#mmail').val(email);

  };
  let url = `https://nid.naver.com/oauth2.0/token?grant_type=delete&client_id=58VENhxe4RuqFKX9sZ5e&client_secret=2bRVAPmnNf&access_token=${token}&service_provider=NAVER`;
	$('#token').val(`${token}`);
	$('#mlogin').val('naver');

</script>
</body>
</html>