<div>
   <ul>
      {% if now % 5 == 0 %}
         {% set paging = [now - 4, now - 3, now - 2, now - 1, now %}
      {% else %}
         {% set paging = [now - now%5 + 1, now - now%5 + 2, now - now%5 + 3, now - now%5 + 4, now - now%5 + 5 %}
      {% endif %}
      {% if now > 5 %}
         <li><a href=""> << </a></li>
      {% endif %}
      {% for num in paging %}
         <li><a href="">{{ num }}</a></li>
      {% endfor %}
      {% if  > 5 %}
         <li><a href=""> << </a></li>
      {% endif %}
   </ul>
</div>