{% extends "frm_body.html" %}
{% block title %}{{kname}}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block wrap %}
{% include 'frm_header.html' ignore missing%}
<div class="category">
    <a href="/">홈</a> > <a href="쇼핑몰">쇼핑몰</a> > <a href="">상위 카테고리</a> <a href="">하위 카테고리</a>
</div>
<div id="productview_img"><img src=""></div>
<div id="product_info_right"></div>
<div>
    <h1>온습도센서</h1>
    <span class="star_rate"></span>
    <span class="count">개 상품평</span>
</div>
<div>
    <img id="reserve" class="icon" src="./img/empty_heart.png" onclick="reserve()">
    <img id="share" class="icon" src="./img/share.png" onclick="share()">
    <div>공유 아이콘</div>
</div>
<div>
    <span class="discount_percent">%</span>
</div>
<div>
    <span class="original_price discount">원</span><br>
    <span class="sale_price"></span>
</div>
{% endblock %}